

*{
    font-style: inherit;
    color:black;
    margin: 0;
}

.circulo{
    border-radius: 50%;
    border:1px solid black;
    height: 200px;
    width: 200px;
}

.logos{
    width: 200px;
}

.img{
    border-radius: 50%; 
}

.esquerda{
    float: left;
    padding-right: 600px;
    border-right: rgb(255, 255, 255) solid 2px;
    height: 780px;
    padding-left: 200px;
    padding-top: 400px;
}

.direita{
    float: right;
    margin-right: 200px;
    padding-right: 400px;
    padding-top: 400px;
    
}

.fild{
    background-image: linear-gradient(#A100FFFF, #119CFDFF);
   
}

